LIVEKIT_HOST=https://livekit.yourproject.com
LIVEKIT_API_KEY=your_api_key_here
LIVEKIT_API_SECRET=your_api_secret_here
SESSION_SECRET=generate-a-random-64-char-string-here
HIVE_API_NODE=https://api.hive.blog
PORT=3002
